<div class="nav accordion" id="accordionSidenav">
    <div class="sidenav-menu-heading">CRM</div>
    <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'crm:dashboard' %}">
        <div class="nav-link-icon"><i data-feather="briefcase"></i></div>
        Дашборд
    </a>
    <a class="nav-link {% if request.resolver_match.url_name == 'onboarding' %}active{% endif %}" href="{% url 'crm:onboarding' %}">
        <div class="nav-link-icon"><i data-feather="settings"></i></div>
        Настройка
    </a>
    <div class="sidenav-menu-heading">Разделы</div>
    <div class="nav-link disabled">
        <div class="nav-link-icon"><i data-feather="package"></i></div>
        Товары
    </div>
    <div class="nav-link disabled">
        <div class="nav-link-icon"><i data-feather="shopping-bag"></i></div>
        Заказы
    </div>
    <div class="nav-link disabled">
        <div class="nav-link-icon"><i data-feather="archive"></i></div>
        Склады
    </div>
    <div class="nav-link disabled">
        <div class="nav-link-icon"><i data-feather="clipboard"></i></div>
        Инвентаризация
    </div>
</div>
