<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <div class="sidenav-menu-heading">Меню</div>
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <div class="nav-link-icon"><i data-feather="activity"></i></div>
                    Панель управления
                </a>
                {% if False %}
                <a class="nav-link" href="{% url 'transactions' %}">
                    <div class="nav-link-icon"><i data-feather="dollar-sign"></i></div>
                    Транзакции
                </a>
                <a class="nav-link" href="{% url 'reports' %}">
                    <div class="nav-link-icon"><i data-feather="bar-chart-2"></i></div>
                    Отчёты
                </a>
                {% endif %}
                {% if user.is_superuser %}
                <a class="nav-link" href="{% url 'user-list' %}">
                    <div class="nav-link-icon"><i data-feather="bar-chart-2"></i></div>
                    Пользователи
                </a>
                {% endif %}
                <div class="sidenav-menu-heading">Настройки</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSettings"
                    aria-expanded="false" aria-controls="collapseSettings">
                    <div class="nav-link-icon"><i data-feather="settings"></i></div>
                    Настройки
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseSettings" data-bs-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav">
                        <a class="nav-link" href="{% url 'categories_settings' %}">Проекты и категории</a>
                        <!-- другие подпункты -->
                    </nav>
                </div>
                <div class="sidenav-menu-heading">Дополнительно</div>
                {% if user.is_superuser %}
                <a class="nav-link" href="/admin/" target="_blank" rel="noopener noreferrer">
                    <div class="nav-link-icon"><i data-feather="settings"></i></div>
                    Admin панель
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>