<div class="nav accordion" id="accordionSidenav">
    <div class="sidenav-menu-heading">CRM</div>
    <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'crm:dashboard' %}">
        <div class="nav-link-icon"><i data-feather="briefcase"></i></div>
        Дашборд
    </a>
    <a class="nav-link {% if request.resolver_match.url_name == 'products' or request.resolver_match.url_name == 'product_create' or request.resolver_match.url_name == 'product_edit' %}active{% endif %}" href="{% url 'crm:products' %}">
        <div class="nav-link-icon"><i data-feather="package"></i></div>
        Товары
    </a>
    <a class="nav-link {% if request.resolver_match.url_name == 'settings' or request.resolver_match.url_name == 'sales_channel_create' or request.resolver_match.url_name == 'sales_channel_edit' or request.resolver_match.url_name == 'warehouse_create' or request.resolver_match.url_name == 'warehouse_edit' %}active{% endif %}" href="{% url 'crm:settings' %}">
        <div class="nav-link-icon"><i data-feather="settings"></i></div>
        Справочники
    </a>
    <div class="sidenav-menu-heading">Разделы</div>
    <div class="nav-link disabled">
        <div class="nav-link-icon"><i data-feather="shopping-bag"></i></div>
        Заказы
    </div>
    <div class="nav-link disabled">
        <div class="nav-link-icon"><i data-feather="clipboard"></i></div>
        Инвентаризация
    </div>
</div>
