{% extends "components/base.html" %}
{% load static %}

{% block title %}Вход - FinFlow{% endblock %}

{% block content %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container-xl px-4">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
                        <div class="card my-5">
                            <div class="card-body p-5 text-center">
                                <div class="h3 fw-light mb-3">Вход в FinFlow</div>
                                <a class="btn btn-icon btn-google mx-1" href="#!"><i class="fab fa-google fa-fw fa-sm"></i></a>
                            </div>
                            <hr class="my-0" />
                            <div class="card-body p-5">
                                <form method="post" action="" class="user">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label class="text-gray-600 small" for="id_username">Имя пользователя</label>
                                        {{ form.username }}
                                        {% if form.username.errors %}
                                            <div class="text-danger">{{ form.username.errors }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="mb-3">
                                        <label class="text-gray-600 small" for="id_password">Пароль</label>
                                        {{ form.password }}
                                        {% if form.password.errors %}
                                            <div class="text-danger">{{ form.password.errors }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="mb-3">
                                        <a class="small" href="{% url 'password_reset' %}">Забыли пароль?</a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-0">
                                        <button type="submit" class="btn btn-primary">Войти</button>
                                    </div>
                                    {% if form.non_field_errors %}
                                        <div class="mb-3"></div>
                                        <div class="alert alert-danger text-center">
                                            {% for error in form.non_field_errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </form>
                            </div>
                            <hr class="my-0" />
                            <div class="card-body px-5 py-4">
                                <div class="small text-center">
                                    Новый пользователь?
                                    <a href="{% url 'register' %}">Создайте аккаунт!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}